@import '../../../assets/variables.scss';

.incomeTable{
    max-width: 50%;
   
    margin-top: 20px;
}

.incomeTable .title{
    color:$green;
}
.incomeTable .cell-value {
    color:$green;
    text-align: right;
}